
@font-face {
	font-family: NexaBold;
	src: url("resources/Nexa_font/Nexa Bold.otf") format("opentype");
}
@font-face {
	font-family: NexaLight;
	src: url("resources/Nexa_font/Nexa Light.otf") format("opentype");
}

body{
	margin: 0;
	padding: 0;
	background-color: #fcb040;
	font-family: NexaLight;
	font-size: 14px;
}

.banner1 {
	background-color: #27a9e1;
}
h1 {
	color: white;
	font-family:  NexaLight, Helvetica, Verdana, Sans-Serif;	
	font-size: 58px;
	margin: 2px;
	 -webkit-font-smoothing: antialiased;
}
.subtitle {
	font-family:  NexaBold, Helvetica, Verdana, Sans-Serif;	
	font-size: 22px;
	margin: 10px;
	line-height: 26px;
}

.banner2 {
	
}
.main {
	background-color: white;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}
table.center td {
	padding: 8px;
}

#presents {
	padding: 8px;
	font-family:  NexaLight, Helvetica, Verdana, Sans-Serif;	
	color: white;
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}
#presents a {
	text-decoration: none;
	color: white;
}

a.bigbutt {
	width: 180px;
	border: 4px solid black;
	color: white;
	background-color: #2bb673;
	text-decoration: none;
	display: inline-block;
	font-family:  NexaLight, Helvetica, Verdana, Sans-Serif;
	padding: 6px;
	margin-bottom: 28px;	
	margin-top: 20px;	
	margin-left: 8px;	
	margin-right: 8px;	
	font-size: 18px;
	border-radius: 4px;
}
a.bigbutt:hover {
	background-color: #008200;
}

h2 {
	font-family: NexaBold, Helvetica, Verdana, Sans-Serif;
	line-height: 40px;
	font-size: 28px;
}
h2.q {
	padding-left: 50px;
	background-repeat: no-repeat;
	background-image: url('resources/Images/qmark_icon.png');
	background-size: 40px 40px;
	margin-bottom: 0;
}

div.main,
div.mid {
	padding-left: 10%;
	padding-right: 10%;
}

div.server {
	padding-left: 220px;
	background-repeat: no-repeat;
	background-image: url('resources/Images/cloud_icon.png');
	background-position:0px; 
}
div.client {
	padding-left: 220px;
	background-repeat: no-repeat;
	background-image: url('resources/Images/device_icon.png');	
	background-position:40px 30px; 
}

pre.code {
	background: ghostwhite;
	border: 1px solid #ddd;	
	margin-left: 20px;
}


