
/* Style Sheet 5 */
/* Last Updated 11-11-2007 GT */

html, body, form, a, h1, h2, h3, h4, h5, h6, p, div, ul, li, td {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	font-weight: normal; 
	line-height: 150%;
}

body {
	background: #ffffff;
}

form, a, h1, h2, h3, h4, h5, h6, div, p {
	margin: 0px;
	padding: 0px;
}

p {
	margin-top: 8px;
	margin-bottom: 8px;
}

table, tr, td {
	border-collapse: collapse;
}

tr, td, img {
	padding-top: 0px;
	padding-left: 0px;
}

input, textarea, select {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	/*color: #000000;*/ 
	font-weight: normal;  
	font-size: 12px; 
	line-height: 100%;
}

h1 {
	font-size: 21px;
}

div.option {
	font-size: 21px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}

strong, b {
	font-weight:bold;
}

em {
	font-weight:bold;
	color: #0054a0;
}

.smallsize {
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	line-height: 100%;
}

.smalltext {
	font-size: 10px;
}

.smalltextsubtle {
	font-size: 10px;
	color: #666666;
}

.subtle {
	color: #666666;
}

.hilite {
	color: #cc3300;
}

.warn {
	color: red;
}

.reverse {
	color: #ffffff;
}

.small {
	font-size: 10px;
}

a:link {
	color: #045993;
	text-decoration: none;
}

a:visited {
	color: #008BCC;
	text-decoration: none;
}

a:hover {
	color: #660066;
	text-decoration: underline;
}

img {
	border: none;
	margin: 0px;
	padding: 0px;
}

.inputright {
	line-height: 100%;
	text-align: right;
}

.inputstd {
	line-height: 100%;
}

.inputrightsmall {
	font-size: 10px;
	line-height: 100%;
	text-align: right;
}

.inputleftsmall {
	font-size: 10px;
	line-height: 100%;
}

.right {
	float: right;
}

.left{
	float: left;
}

.listhead {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.withhead {
	margin-top: 0px;
	padding-top: 0px;
}


/* Menu Nav Panel */

#menu {
	border: solid 1px #666666;
	text-align: center;
}

#navpanel {
	padding: 20px 0px;
}

#navpanel div {
	float: center;
	width: 145px;
	margin: 0px 0px 16px;
	text-align: left;
	font-weight: bold;
	/*color: #000000;*/
	border-top: solid 1px #666666;
	border-bottom: solid 1px #666666;
}

#navpanel a {
	display: block;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	width: 100%;
	/* background: url("/images/navplain.gif") no-repeat right top; */
}

#navpanel a:hover {
	font-weight: bold;
	background: url("/images/navhover.gif") no-repeat right top;
}

.selected {
	font-size: 10px;
	font-weight: bold;
	background: url("/images/navselected.gif") no-repeat right top;
}

.logon {
	font-size: 10px;
	font-weight: normal;
	color: #666666;
}

.logon input, .logon a {
	margin-top: 4px;
}

#navpanel div.logon div {
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	border: none;
	font-weight: normal;
	color: #666666;
}

#international {
	float: center;
	width: 145px;
	margin: 0px 0px 16px;
	text-align: left;
	font-weight: bold;
	color: #000000;
	border-top: solid 1px #666666;
	border-bottom: solid 1px #666666;
}

#international a {
	display: inline;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

#international a:hover {
	background: url("/images/spacer.gif") no-repeat right top;
}

#faqmenu {
	font-size: 10px;
	font-weight: normal;
}

#faqmenu div {
	margin: 0px 0px 0px 0px;
	border-top: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
}

.faqheader {
	font-size: 10px;
	font-weight: bold;
	color: #888888;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

/* Panel Styles */

#header {
	border-bottom: 1px solid #000000;
	margin-bottom: 15px;
	text-align: center;
}

#info {
	border-top: 1px solid #999999;
	text-align: center;
}

#info a, #info p {
	font-size: 10px;
	color: #888888;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

#info a:link {
	color: #888888;
}

#info a:hover {
	color: #000000;
	text-decoration: none;
}

#widespan {
	text-align: left;
	margin: 0px;
	padding-bottom: 10px;
}

#cardsdiv a {
	font-size: 10px;
	font-weight: bold;
}

#cardsdiv p {
	font-size: 10px;
}

.tablepanel {
	width: 100%;
	background-color: #ffffff; 
	border: 1px solid #666666; 
}

.tablepanelbg {
	width: 100%;
	/* padding: 10px; */
	/* padding-top: 10px; */
	/* padding-left: 10px; */
	background-color: #f2f2f2; 
	border: 1px solid #cccccc;
	margin-bottom: 15px;
}

.tablepaneltd {
	padding: 10px;
}

/* Table Styles */
.tbl1                  {background-color: #f2f2f2; border: "1px solid #e6e6e6"; margin-bottom: 10px;}
.tbl1headtr            {background-color: #e6e6e6; vertical-align: top;}
.tbl1colheadtr         {background-color: #e2e2e2; vertical-align: top;}
.tbl1colsubheadtr      {background-color: #eeeeee; vertical-align: top;}
.tbl1bgrow1            {background-color: #fafafa; vertical-align: top;}
.tbl1bgrow2            {background-color: #f6f6f6; vertical-align: top;}
.tbl1rules             {height: 2px; color: #e6e6e6;}
.tbl1bgcolor           {background-color: #f2f2f2;}
.tbl1bghilite          {background-color: #ffffcc;}

.placeholder { color: #aaa; }
